.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    gap: 24px;
    width: 100%;
    max-width: 1050px; 
    margin: 40px auto;
    padding: 0 20px;  
}
.container button {
    background-color: #0275d8;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 16px;
    right: 24px;
    transition: all 0.1s linear 0.1s;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

.container button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
    transform: scale(1.1);
}